# Hypothesis Testing

In [12]:
# !pip install pydataset

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pydataset import data
from scipy.stats import ttest_ind, t

initiated datasets repo at: /root/.pydataset/

In [3]:
# Load the Boston dataset
df = data('Boston')

In [4]:
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

### Step 1: Choose test statistic

> In this case we are using mean of the high pupil-teacher ratio and low pupil-teacher ratio.

### Step 2: State Hypothesis
> **H0**: Same Price for high pupil-teacher ratio and low pupil-teacher ratio. <br>
**H1**: Different Price for high pupil-teacher ratio and low pupil-teacher ratio.

### Step 3: Choose Level of Significance
> Level of Significance: 0.05

### Step 4: Perform Test

In [5]:
# Divide the data into two groups based on pupil-teacher ratio
high_ptr = df[df['ptratio'] > df['ptratio'].median()]
low_ptr = df[df['ptratio'] <= df['ptratio'].median()]

# Calculate the T-test for the means of two independent samples.
t, p = ttest_ind(high_ptr['medv'], low_ptr['medv']) # alternative{‘two-sided’, ‘less’, ‘greater’}, optional

# Print the results
print(f't= {np.round(t, 4)}')
print(f'p-value= {p}')

t= -12.3281
p-value= 1.0498463281079458e-30

### Step 5: Conclusion
> P-Value is 0 which is less than significance level which is 0.05/2 (0.025) hence we'll reject H0 and say that there is a difference between price for high pupil-teacher ratio and low pupil-teacher ratio.

# Task
- Perform Hypothesis test to verfy whether the houses in locations were pupil-teacher ratio is low has lower or higher price as compared to locations with high pupil-teacher ratio.